{% extends 'base.html' %}
{% block title %}Registreren{% endblock %}
{% block content %}
<h2>Registreren</h2>
<form method="POST">
    <!-- Gebruikersnaam -->
    <label for="username">Gebruikersnaam</label>
    <input type="text" id="username" name="username" placeholder="Gebruikersnaam" required><br>

    <!-- Wachtwoord -->
    <label for="reg_password">Wachtwoord</label>
    <div class="password-container">
        <input type="password" id="reg_password" name="password" placeholder="Wachtwoord" required>
        <button type="button" onclick="togglePassword()">Toon wachtwoord</button>
    </div>

    <br>
    <button type="submit">Registreren</button>
</form>

<p>Al een account? <a href="{{ url_for('auth.login') }}">Login hier</a>.</p>


<script>
function togglePassword() {
    const pwField = document.getElementById('reg_password');
    const btn = event.target;
    if (pwField.type === 'password') {
        pwField.type = 'text';
        btn.textContent = 'Verberg wachtwoord';
    } else {
        pwField.type = 'password';
        btn.textContent = 'Toon wachtwoord';
    }
}
</script>
{% endblock %}
